<section
  class="vh-150 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">SIGNUP FORM</h2>

              <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
                <div class="form-outline mb-4"></div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg"
                    >Your Email</label
                  >
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    name="email"
                    ngModel
                    required
                    email
                    #modelEmail="ngModel"
                    [ngClass]="modelEmail.invalid ? 'is-invalid' : ''"
                  />
                  <div *ngIf="modelEmail.invalid" class="invalid-feedback">
                    please enter a valid email
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg"
                    >Password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    name="password"
                    ngModel
                    required
                    password
                    #modelPassword="ngModel"
                    [ngClass]="
                      modelPassword.invalid && modelPassword.touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div *ngIf="modelPassword.invalid" class="invalid-feedback">
                    Password must be greater than 4 characters
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg"
                    >Conform password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    name="conformPassword"
                    ngModel
                    required
                    conformpassword
                    #validatePassword="ngModel"
                    [ngClass]="
                      validatePassword.invalid && validatePassword.touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="validatePassword.invalid"
                    class="invalid-feedback"
                  >
                    Password must be same
                  </div>
                </div>
                <div>
                  <div
                    *ngIf="modelPassword.value !== validatePassword.value"
                    class="text- danger"
                  >
                    password is mismatch
                  </div>
                  {{ modelPassword.value === validatePassword.value }}
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in
                    <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="signupForm.invalid"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a
                    routerLink="/signin
                  "
                    class="fw-bold text-body"
                    ><u>Signin here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
